<table class="tab_conteudo">
  <tr>
    <th>NOME</th>
    <th>TIPO (Física / Jurídica)</th>
    <th>CPF/CNPJ</th>
    <th>QUANTIDADE AÇÕES PN</th>
    <th>% PN</th>
    <th>QUANTIDADE AÇÕES ON</th>
    <th>% ON</th>
    <th>TOTAL (PN + ON)</th>
    <th>% TOTAL</th>
  </tr>

  <%= render :partial => "stockholders/stockholder", :collection => current_user.stockholder_base_reports.last.stockholders %>
</table>