<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Up & Down</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
 	<div id="geral">
    	<div id="logo_login">
        	<a href="#"><img src="images/logo_up_down.png" border="none" /></a>
        </div><!-- Fim do div logo --><br clear="all" />
        
        <div id="login">
        	<p class="tit_login"><img src="images/icone_login.png" /> LOGIN</p><br />
            
            <table>
            	<tr>
                	<td>Login:</td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                	<td>Senha</td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                	<td colspan="2" align="right"><a href="#"><img src="images/btn_entrar.png" border="none" /></a></td>
                </tr>
            </table><br clear="all" />
            
        </div><!-- Fim do div conteudo -->
    	
        
    </div><!-- Fim do div geral -->
</body>
</html>