<h1>Listing customer_activity_reports</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customer_activity_reports.each do |customer_activity_report| %>
  <tr>
    <td><%= link_to 'Show', customer_activity_report %></td>
    <td><%= link_to 'Edit', edit_customer_activity_report_path(customer_activity_report) %></td>
    <td><%= link_to 'Destroy', customer_activity_report, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer activity report', new_customer_activity_report_path %>
