<%= form_for(@stockholder_base_report) do |f| %>
  <% if @stockholder_base_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stockholder_base_report.errors.count, "error") %> prohibited this stockholder_base_report from being saved:</h2>

      <ul>
      <% @stockholder_base_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
