<%= form_for(@stockholder_base_report) do |f| %>  
  <div>
    <%= f.file_field :excel_report %>
  </div>

  <div id="upload_feedback" class="error">
    <%= @stockholder_base_report.errors[:excel_report].to_sentence %>
  </div>
<% end %>