<% if StockholderBaseReport.unparsed.any? %>
  <p>Recebemos o seu relatório e estamos importando os seus dados. Em poucos minutos eles já estarão disponíveis.</p>
<% end %>

<%= render "form" %>

<br>

<% if StockholderBaseReport.parsed.any? %> 
  <br>
  
  <%= render :partial => "stockholders/stockholders", :locals => { :stockholders => current_user.stockholders } %>
<% end %>