<p class="titulo">
  <%= image_tag "icone_titulo.png" %> Movimentação dos Acionistas
</p>

<h1>Adicionar arquivo excel</h1>

<%= render 'form' %>

<br>

<table class="tab_conteudo">
  <tr>
      <th>NOME</th>
        <th>TIPO (Física / Jurídica)</th>
        <th>CPF/CNPJ</th>
        <th>QUANTIDADE AÇÕES PN</th>
        <th>% PN</th>
        <th>QUANTIDADE AÇÕES ON</th>
        <th>% ON</th>
        <th>TOTAL (PN + ON)</th>
    </tr>
    <tr>
      <td>Caroline Santos Daltro Bosisio</td>
        <td>Física</td>
        <td>108307307-96</td>
        <td class="cor_azul">45</td>
        <td class="cor_verde">5</td>
        <td class="cor_vermelha">70</td>
        <td class="cor_azul">6</td>
        <td>115</td>
    </tr>
    <tr>
      <td>Elomar do Nascimento</td>
        <td>Jurídica</td>
        <td>108386307-42</td>
        <td class="cor_verde">45</td>
        <td class="cor_verde">5</td>
        <td class="cor_azul">70</td>
        <td class="cor_azul">6</td>
        <td>115</td>
    </tr>
</table>