<%= page "Cadastrar Relatório de Movimentação dos Acionistas" %>

<h1>Cadastrar Relatório de Movimentação dos Acionistas</h1>

<%= render 'form' %>

<%= link_to 'Voltar', stockholder_base_reports_path %>