#upload_feedback 
{
  margin-left: 170px;
  padding-top: 5px;
  font-size: 14px;
}

#upload_feedback p 
{
  float: left;
  font-size: 14px;
  margin-bottom: 0px;
}

.loading 
{
  margin: 1px 0 0 5px;
}

.error
{
  color: #E6503B;
}

.hidden_submit
{
  display: none
}