<p>Olá <%= @resource.email %>!</p>

<p>Clique abaixo para resetar sua senha:</p>

<p><%= link_to 'Resetar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>