<% if flash[:notice].present? %>
  <p class="notice">
    <%= notice %>
  </p>
<% end %>

<% if flash[:alert].present? %>
  <p class="alert">
    <%= alert %>
  </p>
<% end %>

<% if flash[:error].present? %>
  <p class="error">
    <%= flash[:error] %>
  </p>
<% end %>

<% if flash[:warning].present? %>
  <p class="warning">
    <%= flash[:warning] %>
  </p>
<% end %>