<% if flash[:notice].present? %>
  <p>
    <%= notice %>
  </p>
<% end %>

<% if flash[:alert].present? %>
  <p>
    <%= alert %>
  </p>
<% end %>

<% if flash[:error].present? %>
  <p>
    <%= flash[:error] %>
  </p>
<% end %>

<% if flash[:warning].present? %>
  <p>
    <%= flash[:warning] %>
  </p>
<% end %>